html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background-color: #e0dddb;
}

h1 {
    font-size: 4em;
}

.full {
    height: 100%;
    width: 100%;
}

/* vertical text */

.vertical-text {
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
}


/* navigation */

.navibar {
    overflow: navdden;
    position: fixed;
    /* Set the navibar to fixed position */
    top: 0;
    /* Position the navibar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 9;
    height: 60px;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
}

.navibar div {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
  .navibar {
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
    z-index: 3;
    display: none;
  }

  .navibar div {
    width: 90%;
  }
}

@media (max-width: 440px) {
  .navibar {
    height: 100%;
  }
}

@media (min-width: 700px) {
    .navibar {
        padding-left: 30px;
    }
}

@media (min width: 700px) and (max-width: 992px) {
    .navibar div {
        width: 20%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .navibar div {
        width: 15%;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .navibar div {
        width: 12%;
    }
}

@media (min-width: 1300px) {
    .navibar div {
        width: 10%;
    }
}

.navibar div a {
    color: black;
    float: left;
    display: block;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: inherit;
    margin: auto;
    transition: letter-spacing 0.35s ease-out, margin 0.35s ease-out;
}

.navibar div a:hover {
    color: grey;
    letter-spacing: 5px;
    margin: 0;
    transition: all 0.7s ease-in;
}

.toggle-button {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  z-index: 9;
}

@media (min-width: 700px) {
  .toggle-button {
    display: none;
  }
}

/*home*/

.home {
    background-image: url('/Images/bandw.jpg');
    background-repeat: no-repeat;
    background-position: 30% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    text-align: center;
}

@media (min-width: 1200px) {
    .home-header {
        width: 100%;
        margin-left: 400px;
    }
}

@media (min-width: 1400px) {
    .home-header {
        margin-left: 600px;
    }
}

.home h1 {
    color: #c9ff36;
    font-size: 7em;
    text-shadow: 1px 1px 15px grey;
    font-weight: 600;
}

.home h2 {
    color: white;
    font-size: 2.5em;
}


/*about*/

.about-header {
    padding: 60px 60px;
    background-color: #222;
    color: white;
    border-right: 10px dashed white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-border {
    /*border: 7px dashed #aded00;*/
    border-top: 10px dashed white;
    border-bottom: 10px dashed white;
    padding: 50px;
}

.about-info {
    padding: 0;
    font-size: 20px;
}

.about-lists {
    padding-top: 20px;
}


/* about and projects */

@media (min-width: 992px) {
    .about, .projects {
        height: 600px;
    }
    .about div, .projects .row {
        height: 100%;
    }
}


/* projects */

.projects-header {
    background-color: #222;
    height: 150px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-header h1 {
    margin: 0;
}

@media (max-width: 992px) {
    .projects-header h1 {
        letter-spacing: 12px;
    }
}

.projects-side {
    background-color: #222;
    height: 100%;
}

.gallery {
    margin: 0 auto;
    padding: auto;
}

.gallery div {
    position: relative;
    float: left;
    padding: 10px;
}

.gallery img {
    display: block;
    width: 350px;
    transition: .1s transform;
    transform: translateZ(0);
    /* hack */
}

.gallery div:hover {
    z-index: 1;
}

.gallery div:hover img {
    transform: scale(1.2, 1.2);
    transition: .3s transform;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}

.contact {}
